# Backend
NODE_ENV=development
PORT=5000
MONGO_USERNAME=vaibhavchaudhary9918_db_user
MONGO_PASSWORD=Jaat987
JWT_SECRET=secret123

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=vaibhavchaudhary9912@gmail.com
SMTP_PASSWORD=pptu tgte hink bbfa

# Frontend
VITE_API_URL=http://localhost:5000/api
FRONTEND_URL=http://localhost:5173/

# Docker Registry (For Production)
DOCKER_USERNAME=vaibhav9912